:root {
   --color-bg: white;
   --color-blue: #0535C1;
   --font-size: 14px;
   --report-font-family: Roboto, Helvetica, Ubuntu, Arial, sans-serif;
   --report-font-family-monospace: 'Roboto Mono', 'Menlo', 'dejavu sans mono', 'Consolas', 'Lucida Console', monospace;
}
html, body {
   padding: 0;
   margin: 0;
   width: 270px;
   background-color: var(--color-bg);
   color: #212121;
   font-family: var(--report-font-family);
   font-size: var(--font-size);
   line-height: 18px;
   user-select: none;
}
#mainPopup {
   padding: 10px;
   max-height: 700px;
   width: 300px;
}
h1 {
   font-size: 2em;
}